@font-face {
  font-family: "Pixelony";
  src: url("../fonts/pixelony.regular.ttf") format("truetype");
}
html {
  font-size: 16px;
  font-family: "Pixelony", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #4a2f91;
}

a,
button,
input,
textarea {
  font-family: "Pixelony", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 500px;
    padding: 0 24px;
  }
}

.header {
  padding: 42px 0;
  color: #ffffff;
}
@media (max-width: 768px) {
  .header {
    padding: 24px 0;
  }
}
.header__title {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-align: center;
}
@media (max-width: 992px) {
  .header__title {
    margin: 0 0 10px;
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 36px;
  }
}
.header__title span {
  font-size: 1.2em;
}
.header__description {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 992px) {
  .header__description {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .header__description {
    max-width: 320px;
    margin: 0 auto;
  }
}

.main > * {
  margin: 0 0 24px;
}
.main > *:last-child {
  margin: 0;
}

.footer {
  padding: 42px 0;
}
@media (max-width: 768px) {
  .footer {
    padding: 24px 0;
  }
}
.footer .container {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 992px) {
  .footer .container {
    font-size: 20px;
  }
}

.introduction .container {
  display: flex;
  gap: 24px;
}
@media (max-width: 768px) {
  .introduction .container {
    flex-direction: column;
  }
}
.introduction__troomp {
  flex: 0 0 calc(50% - 12px);
}
.introduction__troomp-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.introduction__text {
  flex: 0 0 calc(50% - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 24px;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #d12c36;
}
@media (max-width: 992px) {
  .introduction__text {
    font-size: 20px;
  }
}

.buy-token {
  color: #ffffff;
}
.buy-token .container {
  display: flex;
  gap: 24px;
}
@media (max-width: 992px) {
  .buy-token .container {
    flex-direction: column;
  }
}
.buy-token__info {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 30px 32px;
  box-sizing: border-box;
  background-color: #d12c36;
}
@media (max-width: 992px) {
  .buy-token__info {
    flex: 0 1 auto;
    background-color: #7646f6;
  }
}
.buy-token__info-title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}
.buy-token__info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.buy-token__info-text-name {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.buy-token__info-text-value {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}
.buy-token__token {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.buy-token__token-code {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 12px;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  overflow-wrap: break-word;
  background-color: #7646f6;
}
@media (max-width: 992px) {
  .buy-token__token-code {
    font-size: 22px;
    background-color: #d12c36;
  }
}
@media (max-width: 768px) {
  .buy-token__token-code {
    gap: 10px;
    padding: 24px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .buy-token__token-code {
    font-size: 15px;
  }
}
.buy-token__token-code-name {
  display: inline-block;
  margin-top: 2px;
}
@media (max-width: 768px) {
  .buy-token__token-code-name {
    display: none;
  }
}
.buy-token__token-code-number {
  display: inline-block;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 12px;
}
@media (max-width: 768px) {
  .buy-token__token-code-number {
    margin: 0;
    max-width: calc(100% - 39px);
  }
}
.buy-token__token-code-button {
  flex: 0 0 auto;
  display: inline-block;
  height: 29px;
  width: 29px;
  border: none;
  background: url(../assets/copy-icon.svg) center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.buy-token__token-figure {
  flex: 1 1 auto;
  background-color: #d12c36;
}
.buy-token__token-figure-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts .container {
  display: flex;
  gap: 24px;
}
@media (max-width: 992px) {
  .contacts .container {
    flex-wrap: wrap;
  }
}
.contacts__love {
  flex: 0 0 324px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #ffbf46;
}
@media (max-width: 992px) {
  .contacts__love {
    flex: 1 1 100%;
    flex-wrap: wrap;
    padding-top: 24px;
  }
}
.contacts__love-image {
  max-width: 92%;
}
@media (max-width: 992px) {
  .contacts__love-image {
    max-height: 360px;
  }
}
.contacts__social {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 24px;
  box-sizing: border-box;
  background-color: #181d42;
}
@media (max-width: 992px) {
  .contacts__social {
    flex: 0 0 calc(50% - 12px);
  }
}
@media (max-width: 768px) {
  .contacts__social {
    flex: 1 1 100%;
  }
}
.contacts__social-poom {
  display: flex;
  justify-content: center;
}
.contacts__social-poom-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .contacts__social-poom-image {
    width: 360px;
  }
}
.contacts__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 320px;
}
.contacts__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 108px;
  background: url(../assets/social-link-bg.svg);
}
.contacts__social-link::before {
  content: "";
  display: inline-block;
  height: 48px;
  width: 48px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.contacts__social-link_x::before {
  background-image: url(../assets/x-icon.svg);
}
.contacts__social-link_tg::before {
  background-image: url(../assets/tg-icon.svg);
}
.contacts__social-link_dextools::before {
  background-image: url(../assets/dextools-icon.svg);
}
.contacts__social-link_descreener::before {
  background-image: url(../assets/descreener.svg);
}
.contacts__social-email {
  text-align: center;
}
.contacts__social-email-link {
  font-weight: 400;
  font-size: 24px;
  color: #ccff54;
}
@media (max-width: 576px) {
  .contacts__social-email-link {
    font-size: 20px;
  }
}
.contacts__king {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7646f6;
}
@media (max-width: 992px) {
  .contacts__king {
    flex: 0 0 calc(50% - 12px);
  }
}
@media (max-width: 768px) {
  .contacts__king {
    flex: 1 1 100%;
    padding: 24px;
  }
}
.contacts__king-image {
  max-width: 90%;
}
@media (max-width: 768px) {
  .contacts__king-image {
    max-width: 100%;
    max-height: 320px;
  }
}