@font-face {
  font-family: "Pixelony";
  src: url("../fonts/pixelony.regular.ttf") format("truetype");
}
html {
  font-size: 16px;
  font-family: "Pixelony", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #4a2f91;
}

a,
button,
input,
textarea {
  font-family: "Pixelony", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 500px;
    padding: 0 24px;
  }
}

.header {
  padding: 42px 0;
  color: #ffffff;
}
@media (max-width: 992px) {
  .header {
    padding: 24px 0;
  }
}
.header__title {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-align: center;
}
@media (max-width: 992px) {
  .header__title {
    margin: 0 0 10px;
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 36px;
  }
}
.header__title span {
  font-size: 1.2em;
}
.header__description {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 992px) {
  .header__description {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .header__description {
    max-width: 320px;
    margin: 0 auto;
  }
}

.footer {
  padding: 42px 0;
}
@media (max-width: 992px) {
  .footer {
    padding: 24px 0;
  }
}
.footer .container {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 992px) {
  .footer .container {
    font-size: 20px;
  }
}

.first-line .container {
  display: flex;
  gap: 24px;
}
@media (max-width: 768px) {
  .first-line .container {
    flex-direction: column;
  }
}
.first-line__troomp {
  flex: 0 0 calc(50% - 12px);
}
.first-line__troomp-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.first-line__text {
  flex: 0 0 calc(50% - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 24px;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #d12c36;
}
@media (max-width: 992px) {
  .first-line__text {
    font-size: 20px;
  }
}